body {
	color:#000000; 
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;	
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	background-size: cover;	
}

#canvas-global {
	background-color:#FAF3F3;
	/*background-image:url(../images/bg-canvas.png);*/
	background-repeat : no-repeat; 
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	background-size: cover;	
	width: 820px; 
	margin: 4px auto; 
	padding: 6px 0px; 
	text-align: center
}

#cabezal {background-image:url(../images/banner-header.jpg); height: 120px; text-align:left; margin: 0px 0px 4px 0px}

#logo {background-image:url(../images/logo.png); float:left}

#logo a {
  display: block;
  text-indent: -999px;
  height: 50px; 
  width: 204px;
  margin: none;
}

#canvas {margin: 4px auto; width: 800px}

/*----------------------------------------------------------------------*/
/* DEFINE BARRA DE MENUS*/
/*----------------------------------------------------------------------*/

#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}

#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}

#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}

#menu ul li.hover,

#menu ul li:hover {
   position: relative;
   z-index: 599;
   cursor: default; 
}

#menu ul ul {
   visibility: hidden;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 598;
   width: 100%; 
}

#menu ul ul li {
   float: none; 
}

#menu ul li:hover > ul {
   visibility: visible; 
}

#menu ul ul {
   top: 0;
   left: 100%; 
}

#menu ul li {
   float: none; 
}

#menu {
   width: 200px; 
}

#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}

#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}

#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: #dddddd;
}
#menu li:hover {
    background: #f6f6f6; 
}
#menu a {
    color: #666666;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 144px; 
}
#menu ul ul li {
    background: #f6f6f6; 
}
#menu ul ul li:hover {
    background: #dddddd; 
}
#menu ul ul li:hover a {
    color: #666666; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
}
#menu .has-sub {
    position: relative; 
}

#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
    background-image: url(right.png);
}
#menu .has-sub > ul > .has-sub:after, #menu .has-sub:hover:after {
    background-image: url(right.png); 
}
/*----------------------------------------------------------------------*/
/*FIN BARRA MENÚ*/
/*----------------------------------------------------------------------*/

#content 
	{
		padding: 10px 10px 10px 10px; /*Evita que los textos se peguen a los bordes*/
		text-indent: 15px; /*Sangría de 15px*/
		text-align: justify /*Justifica el texto*/
	}